<div
  class="createserver_modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="createserver_modal-overlay absolute w-full h-full bg-gray-900 dark:bg-neutral-900 opacity-50"
  ></div>

  <div
    class="transition ease-out duration-100 transform opacity-0 scale-95 transform opacity-100 scale-100 transition ease-in duration-75 transform opacity-100 scale-100 transform opacity-0 scale-95 createserver_modal-container bg-neutral-200 dark:bg-neutral-800 w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <div class="createserver_modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold dark:text-white text-neutral-800">
          Create a server
        </p>
        <div class="createserver_modal-close cursor-pointer z-50">
          <svg
            class="fill-current dark:text-white text-neutral-800"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            ></path>
          </svg>
        </div>
      </div>
      <form action="" method="POST" id="create-serverform">
        <label for="server-name" class="font-bold dark:text-neutral-300 text-neutral-700">Server name</label>
        <input id="server-name" type="text" placeholder="<%= user_.username %>'s server" class="mb-2 placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg">
        <label for="server-name" class="font-bold dark:text-neutral-300 text-neutral-700">Server bio</label>
        <textarea cols="3" rows="3" id="server-bio" type="text" placeholder="Welcome to my cool server!" class="placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"></textarea>
        <button
          type="submit"
          id="create-server"
          class="mt-4 transition ease-in bg-neutral-300 hover:bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-300 p-4 w-full text-center rounded-sm shadow-md hover:shadow-lg"
        >
          Create
        </button>
      </form>
      <!-- <div class="flex justify-end pt-2">
        <button
          class="transition ease-in createserver_modal-close px-4 dark:hover:text-neutral-700 dark:hover:bg-neutral-600 dark:bg-neutral-500 p-3 rounded-sm text-white bg-neutral-500 hover:bg-neutral-400"
        >
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
