<div
  class="createserver_modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="createserver_modal-overlay absolute w-full h-full bg-gray-900 dark:bg-neutral-900 opacity-50"
  ></div>

  <div
    class="transition ease-out duration-100 transform opacity-0 scale-95 transform opacity-100 scale-100 transition ease-in duration-75 transform opacity-100 scale-100 transform opacity-0 scale-95 createserver_modal-container bg-neutral-200 dark:bg-neutral-800 w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <div class="createserver_modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold dark:text-white text-neutral-800">
          Create a server
        </p>
        <div class="createserver_modal-close cursor-pointer z-50">
          <i class="fa-solid fa-xmark dark:text-white text-neutral-800"></i>
        </div>
      </div>
      <form
        action=""
        method="POST"
        id="create-serverform"
        enctype="multipart/form-data"
      >
        <label
          for="server-avatar"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Server avatar</label
        >
        <input
          class="server-avatar mb-2 relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding py-[0.32rem] px-3 text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[margin-inline-end:0.75rem] file:[border-inline-end-width:1px] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-[0_0_0_1px] focus:shadow-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100"
          type="file"
          name="server_avatar"
          accept=".png, .jpg, .jpeg, .gif"
          id="server-avatar"
        />
        <label
          for="server-name"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Server name</label
        >
        <input
          value="<%= userforDetailsfindOne.username %>'s server"
          id="server-name"
          type="text"
          placeholder="<%= userforDetailsfindOne.username %>'s server"
          class="mb-2 placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <label
          for="server-name"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Server bio</label
        >
        <textarea
          cols="3"
          rows="3"
          id="server-bio"
          type="text"
          placeholder="Welcome to my cool server!"
          class="placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        ></textarea>
        <button
          type="submit"
          id="create-server"
          class="mt-4 transition ease-in bg-neutral-300 hover:bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-300 p-4 w-full text-center rounded-sm shadow-md hover:shadow-lg"
        >
          Create
        </button>
      </form>
      <!-- <div class="flex justify-end pt-2">
        <button
          class="transition ease-in createserver_modal-close px-4 dark:hover:text-neutral-700 dark:hover:bg-neutral-600 dark:bg-neutral-500 p-3 rounded-sm text-white bg-neutral-500 hover:bg-neutral-400"
        >
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
