<span
id="dark-mode"
class="sticky cursor-pointer bottom-0 left-0 absolute overflow-hidden text-neutral-500 dark:text-neutral-200 p-4 text-neutral-500 dark:text-white rounded-full"
>
<i class="fa-solid fa-sun"></i>
</span>