<nav
  class="transition ease-in flex items-center bg-neutral-200 dark:bg-neutral-900 p-3 flex-wrap"
>
  <a href="/app" class="transition ease-in p-2 mr-4 inline-flex items-center">
    <span
      class="text-xl text-neutral-700 dark:text-neutral-300 font-bold uppercase tracking-wide"
      ><%= config.CLIENT_NAME %></span
    >
  </a>
  <button
    class="nav-toggler transition ease-in text-neutral-700 dark:text-white inline-flex p-3 hover:bg-neutral-300 dark:hover:bg-neutral-700 rounded lg:hidden ml-auto dark:hover:text-white outline-none"
    data-target="#navigation"
    id="nav-toggler"
  >
    <i class="transition ease-in fa-solid fa-bars"></i>
  </button>
  <div
    class="ease-in hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
    id="navigation"
  >
    <div
      class="transition ease-in lg:inline-flex lg:flex-row lg:w-auto w-full lg:items-start justify-start items-start flex flex-col lg:h-auto"
    >
      <a
        href="/servers"
        class="transition ease-in text-neutral-700 lg:inline-flex lg:w-auto w-full px-3 py-2 rounded dark:text-neutral-400 items-left justify-center hover:bg-neutral-300 dark:hover:bg-neutral-800 dark:hover:text-white"
      >
        <span>Servers</span>
      </a>
      <a
        href="/friends"
        class="transition ease-in text-neutral-700 lg:inline-flex lg:w-auto w-full px-3 py-2 rounded dark:text-neutral-400 items-center justify-center hover:bg-neutral-300 dark:hover:bg-neutral-800 dark:hover:text-white"
      >
        <span>Friends</span>
      </a>
      <a
        href="/billing"
        class="transition ease-in text-neutral-700 lg:inline-flex lg:w-auto w-full px-3 py-2 rounded dark:text-neutral-400 items-center justify-center hover:bg-neutral-300 dark:hover:bg-neutral-800 dark:hover:text-white"
      >
        <span>Billing</span>
      </a>
      <a
        href="/settings"
        class="transition ease-in text-neutral-700 lg:inline-flex lg:w-auto w-full px-3 py-2 rounded dark:text-neutral-400 items-center justify-center hover:bg-neutral-300 dark:hover:bg-neutral-800 dark:hover:text-white"
      >
        <span>Settings</span>
      </a>
    </div>
    <div class="top-navbar flex-col flex lg:inline-flex ml-auto flex-row">
      <button
        type="button"   
        id="mt-2-custom"
        class="profile_modal-open cursor-pointer select-none transition ease-in text-neutral-700 lg:w-auto w-full px-3 py-2 rounded dark:text-neutral-400 bg-neutral-300 hover:bg-neutral-400 hover:dark:bg-neutral-700 dark:bg-neutral-800"
      >
        <img
          src="/api/v1/users/<%= user.username %>/profile<%= user_.avatar %>"
          alt="profile"
          class="h-5 rounded-full inline-flex outline outline-1"
        />
        Welcome, <%= user.username %>!
      </button>
    </div>
  </div>
</nav>
