<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/library/css/main.css" />
    <title>Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/library/css/custom.css" />
    <script
      src="https://kit.fontawesome.com/73d4b4352e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    * {
      font-family: "Poppins", sans-serif;
    }
  </style>
  <body class="dark:bg-main">
    <section>
      <span
        class="absolute overflow-hidden text-neutral-500 dark:text-neutral-200 p-4"
        ><a href="/"
          ><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back to home</a
        ></span
      >
      <span
        id="dark-mode"
        class="cursor-pointer bottom-0 left-0 absolute overflow-hidden text-neutral-500 dark:text-neutral-200 p-4 text-neutral-500 dark:text-white rounded-full"
      >
      <i class="fa-solid fa-sun"></i>
      </span>
      <main class="flex justify-center items-center h-screen">
        <section>
          <div class="container mx-auto max-w-xs-custom">
            <div
              class="pb-5 flex flex-col w-full bg-white rounded mx-auto shadow-lg overflow-hidden bg-neutral-100 dark:bg-neutral-700"
            >
              <div class="w-full py-7 px-12">
                <form action="" id="signupform">
                  <div class="mb-7">
                    <h1
                      class="text-center dark:text-white text-neutral-500 text-2xl"
                    >
                      Signup
                    </h1>
                  </div>
                  <div class="mb-5">
                    <label
                      for=""
                      class="text-sm uppercase dark:text-neutral-300 text-neutral-700 mb-2"
                      >Username</label
                    >
                    <input
                      type="text"
                      class="dark:disabled:bg-neutral-900 disabled:bg-neutral-600 disabled:cursor-default w-full px-3 p-3 outline-none border-none rounded text-neutral-400 bg-neutral-300 dark:bg-neutral-800 dark:text-neutral-300"
                      name="username"
                      id="username"
                    />
                  </div>
                  <div class="mb-5">
                    <label
                      for=""
                      class="text-sm uppercase dark:text-neutral-300 text-neutral-700 mb-2"
                      >Email</label
                    >
                    <input
                      type="text"
                      class="dark:disabled:bg-neutral-900 disabled:bg-neutral-600 disabled:cursor-default w-full px-3 p-3 outline-none border-none rounded text-neutral-400 bg-neutral-300 dark:bg-neutral-800 dark:text-neutral-300"
                      name="email"
                      id="email"
                    />
                  </div>
                  <div class="mb-5">
                    <label
                      for=""
                      class="text-sm uppercase dark:text-neutral-300 text-neutral-700 mb-2"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="dark:disabled:bg-neutral-900 disabled:bg-neutral-600 disabled:cursor-default w-full px-3 p-3 outline-none border-none rounded text-neutral-400 bg-neutral-300 dark:bg-neutral-800 dark:text-neutral-300"
                      name="password"
                      id="password"
                    />
                  </div>
                  <div>
                    <label
                      for=""
                      class="text-sm uppercase dark:text-neutral-300 text-neutral-700 mb-2"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      class="dark:disabled:bg-neutral-900 disabled:bg-neutral-600 disabled:cursor-default w-full px-3 p-3 outline-none border-none rounded text-neutral-400 bg-neutral-300 dark:bg-neutral-800 dark:text-neutral-300"
                      name="cpassword"
                      id="cpassword"
                    />
                  </div>
                  <span class="text-neutral-500 dark:text-neutral-300 text-sm"
                    >By signing up, your accepting our
                    <a href="terms" class="hover:underline text-blue-400"
                      >Terms of condition</a
                    >
                    and
                    <a href="privacy" class="hover:underline text-blue-400"
                      >Privacy policy</a
                    ></span
                  >
                  <div class="mt-5">
                    <input
                      type="submit"
                      class="dark:disabled:bg-neutral-900 disabled:bg-neutral-600 disabled:cursor-default transition ease-in w-full px-3 p-3 rounded-sm text-neutral-300 bg-neutral-400 hover:bg-neutral-500 hover:text-neutral-400 dark:bg-neutral-800 dark:text-neutral-300 cursor-pointer dark:hover:bg-neutral-900"
                      name="signup"
                      id="signup"
                      value="Signup"
                    />
                  </div>
                  <span class="text-neutral-500 dark:text-neutral-300 text-sm"
                    >Already have an account?
                    <a href="/login" class="hover:underline text-blue-400"
                      >Login</a
                    ></span
                  >
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
    </section>
    <script type="module" src="/library/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script type="module">
      import Toast from "/library/js/Toast.js";

      $(document).ready(function () {
        $("#signupform").submit(async function (e) {
          e.preventDefault();

          const username = $("#username").val();
          const email = $("#email").val();
          const password = $("#password").val();
          const cpassword = $("#cpassword").val();

          try {
            const res = await fetch("/api/auth/signup", {
              method: "POST",
              body: JSON.stringify({
                username: username,
                email: email,
                password: password,
                cpassword: cpassword,
              }),
              headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();

            console.log(data);
            if (data.errors) {
              if (data.errors.username) {
                const toast = new Toast({
                  text: data.errors.username,
                  position: "bottom-right",
                  canClose: false,
                  showProgress: false,
                  backgroundColor: "default",
                });
              }

              if (data.errors.email) {
                const toast = new Toast({
                  text: data.errors.email,
                  position: "bottom-right",
                  canClose: false,
                  showProgress: false,
                });
              }

              if (data.errors.password) {
                const toast = new Toast({
                  text: data.errors.password,
                  position: "bottom-right",
                  canClose: false,
                  showProgress: false,
                });
              }
            }
            if (data.user) {
              const toast = new Toast({
                text: "Signing up...",
                position: "bottom-right",
                canClose: false,
                showProgress: false,
              });
              $("#username").val("");
              $("#email").val("");
              $("#password").val("");
              $("#cpassword").val("");
              $("#username").prop("disabled", true);
              $("#email").prop("disabled", true);
              $("#password").prop("disabled", true);
              $("#cpassword").prop("disabled", true);
              $("#signup").prop("disabled", true);
              setTimeout(() => {
                const toast = new Toast({
                  text: "Done! Check your email.",
                  position: "bottom-right",
                  canClose: false,
                  showProgress: false,
                });
                $("#username").prop("disabled", false);
                $("#email").prop("disabled", false);
                $("#password").prop("disabled", false);
                $("#cpassword").prop("disabled", false);
                $("#signup").prop("disabled", false);
              }, 5000);
            }
          } catch (err) {
            console.log(err);
          }
        });
      });
    </script>
  </body>
</html>
