<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/library/css/main.css" />
    <link rel="stylesheet" href="/library/css/custom.css" />
    <title>Verify - <%= config.CLIENT_NAME %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/73d4b4352e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    * {
      font-family: "Poppins", sans-serif;
    }
  </style>
  <body class="dark:bg-main duration-75 transition ease-in">
    <main
      class="h-screen flex flex-col justify-center items-center text-center transition-fade"
      id="swup"
    >
      <%- include("../app/components/dark-mode.ejs") %>
      <section class="w-full max-w-xs md:max-w-lg">
        <div
          class="text-xl font-medium text-neutral-700 dark:text-white text-center mb-3"
        >
          <% if(!error) { %> Your account has been verified! <% } else { %> <%=
          error %> <% } %><br />
          <span class="text-sm text-neutral-500"
            >Go back <a href="/" class="underline">here</a></span
          >
        </div>
      </section>
    </main>
    <script src="https://unpkg.com/swup@3"></script>
    <script type="module" src="/library/js/script.js"></script>
  </body>
</html>
