.profile_modal {
  transition: opacity 0.25s ease;
}

.addserver_modal {
  transition: opacity 0.25s ease;
}

.createserver_modal {
  transition: opacity 0.25s ease;
}

.joinaserver_modal {
  transition: opacity 0.25s ease;
}

.transition-fade {
  transition: 0.1s;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/* Toast */

.toast {
  box-sizing: border-box;
  padding: 0.75rem;
  background-color: #404040;
  border: 2px solid #363636;
  border-radius: 0.25em;
  position: relative;
  color: #fff;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  overflow: hidden;
}

.toast-container[data-position$="-right"] .toast {
  transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
  transform: translateX(-110%);
}

.toast-container[data-position="top-center"] .toast {
  transform: translateY(-100vh);
}

.toast-container[data-position="bottom-center"] .toast {
  transform: translateY(100vh);
}

.toast-container .toast.show {
  transform: translate(0, 0);
}

.toast.progress::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% * var(--progress));
  background-color: blue;
  bottom: 0;
  left: 0;
  right: 0;
}

.toast.can-close::after {
  content: "\00D7";
  position: absolute;
  top: 2px;
  right: 5px;
}

.toast-container {
  position: fixed;
  margin: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toast-container[data-position^="top-"] {
  top: 0;
}

.toast-container[data-position^="bottom-"] {
  bottom: 0;
}

.toast-container[data-position$="-right"] {
  right: 0;
}

.toast-container[data-position$="-left"] {
  left: 0;
}

.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 612px) {
  .max-w-xs-custom {
    max-width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .text-left-custom {
    text-align: left !important;
  }
}

@media screen and (max-width: 1022.22px) {
  #mt-2-custom {
    margin-top: 0.5rem !important;
  }
}

@media screen and (min-width: 1022.23px) {
  #navigation {
    display: inline-flex !important;
  }
}

@media screen and (max-width: 1275px) {
  .max-w-xs-custom-2 {
    max-width: 20rem;
  }
}
