<div
  class="login_modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="login_modal-overlay absolute w-full h-full bg-gray-900 dark:bg-neutral-900 opacity-50"
  ></div>

  <div
    class="transition ease-out duration-100 transform opacity-0 scale-95 transform opacity-100 scale-100 transition ease-in duration-75 transform opacity-100 scale-100 transform opacity-0 scale-95 login_modal-container bg-neutral-200 dark:bg-neutral-800 w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <div class="login_modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold dark:text-white text-neutral-800">Login</p>
        <div class="login_modal-close cursor-pointer z-50">
          <i class="fa-solid fa-xmark dark:text-white text-neutral-800"></i>
        </div>
      </div>
      <form action="" method="POST" id="loginform">
        <label
          for="login-email"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Email</label
        >
        <input
          id="login-email"
          type="text"
          placeholder="Email"
          class="mb-2 placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <label
          for="login-password"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Password</label
        >
        <input
          id="login-password"
          type="password"
          placeholder="Password"
          class="placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <span class="hover:underline text-blue-400 text-sm cursor-pointer">
          Forgot password</span
        >
        <button
          type="submit"
          id="login"
          class="mt-4 transition ease-in bg-neutral-300 hover:bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-300 p-4 w-full text-center rounded-sm shadow-md hover:shadow-lg"
        >
          Login
        </button>
        <span class="text-neutral-500 dark:text-neutral-300 text-sm"
          >Need an account?
          <span class="signup_modal-open cursor-pointer login_modal-close hover:underline text-blue-400"
            >Signup</span
          ></span
        >
      </form>
    </div>
  </div>
</div>
