<div
  class="signup_modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="signup_modal-overlay absolute w-full h-full bg-gray-900 dark:bg-neutral-900 opacity-50"
  ></div>

  <div
    class="transition ease-out duration-100 transform opacity-0 scale-95 transform opacity-100 scale-100 transition ease-in duration-75 transform opacity-100 scale-100 transform opacity-0 scale-95 signup_modal-container bg-neutral-200 dark:bg-neutral-800 w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <div class="signup_modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold dark:text-white text-neutral-800">
          Signup
        </p>
        <div class="signup_modal-close cursor-pointer z-50">
          <i class="fa-solid fa-xmark dark:text-white text-neutral-800"></i>
        </div>
      </div>
      <form action="" method="POST" id="signupform">
        <label
          for="signup-username"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Username</label
        >
        <input
          id="signup-username"
          type="text"
          placeholder="Username"
          class="mb-2 placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <label
          for="signup-email"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Email</label
        >
        <input
          id="signup-email"
          type="text"
          placeholder="Email"
          class="mb-2 placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <label
          for="signup-password"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Password</label
        >
        <input
          id="signup-password"
          type="password"
          placeholder="Password"
          class="mb-2 placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <label
          for="signup-cpassword"
          class="font-bold dark:text-neutral-300 text-neutral-700"
          >Confirm password</label
        >
        <input
          id="signup-cpassword"
          type="password"
          placeholder="Confirm password"
          class="placeholder:text-neutral-700 dark:placeholder:text-neutral-500 outline-none transition ease-in bg-neutral-300 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-300 p-4 w-full rounded-sm shadow-md focus:shadow-lg"
        />
        <span class="text-neutral-500 dark:text-neutral-300 text-sm"
          >By signing up, your accepting our
          <a href="/terms" class="hover:underline text-blue-400"
            >Terms of condition</a
          >
          and
          <a href="/privacy" class="hover:underline text-blue-400"
            >Privacy policy</a
          ></span
        >
        <button
          type="submit"
          id="signup"
          class="mt-4 transition ease-in bg-neutral-300 hover:bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-300 p-4 w-full text-center rounded-sm shadow-md hover:shadow-lg"
        >
          Signup
        </button>
        <span class="text-neutral-500 dark:text-neutral-300 text-sm"
          >Have an account?
          <span
            class="login_modal-open cursor-pointer signup_modal-close hover:underline text-blue-400"
            >Login</span
          ></span
        >
      </form>
    </div>
  </div>
</div>
