<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/library/css/main.css" />
    <title><%= config.CLIENT_NAME %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
    src="https://kit.fontawesome.com/73d4b4352e.js"
    crossorigin="anonymous"
  ></script>
  </head>
  <style>
    * {
      font-family: "Poppins", sans-serif;
    }
  </style>
  <body class="dark:bg-main">
    <span class="dark:text-white text-xl font-medium"> <a href="/">home</a><br><a href="/signup">signup</a><br><a href="/login">login</a> </span>
    <span
      id="dark-mode"
      class="cursor-pointer bottom-0 left-0 absolute overflow-hidden text-neutral-500 dark:text-neutral-200 p-4 text-neutral-500 dark:text-white rounded-full"
    >
      <i class="fa-solid fa-sun"></i>
    </span>
    <script type="module" src="/library/js/script.js"></script>
  </body>
</html>
